@model IEnumerable<PersonResponse>
@{
    ViewBag.pageTitle = "Home";
}

<form asp-controller="Home" asp-action="Index" method="get">
    <div class="box flex">
        <div class="flex-1">
            <select class="form-input" name="searchBy">
                @foreach (KeyValuePair<string, string> option in ViewBag.SearchOptions)
                {
                    @if (ViewBag.CurrentSearchBy == option.Key)
                    {
                        <option value="@option.Key" selected="selected">@option.Value</option>
                    }
                    else
                    {
                        <option value="@option.Key">@option.Value</option>
                    }
                }
            </select>
        </div>

        <div class="flex-1">
            <input type="search" class="form-input" name="searchString" placeholder="Search..." value="@ViewBag.CurrentSearchString" />
        </div>

        <div class="flex-1">
            <button type="submit" class="button button-blue-back">Search</button>
            <a href="/" class="link-hover">Reset All</a>
        </div>
    </div>
</form>

<a asp-action="CreatePerson" asp-controller="Home" class="link-hover">Create Person</a>

<a asp-action="PersonsPdf" asp-controller="Home" class="link-hover ml">Download as PDF</a>

<a asp-action="PersonsCsv" asp-controller="Home" class="link-hover ml">Download as CSV</a>

<a asp-action="PersonsExcel" asp-controller="Home" class="link-hover ml">Download as Excel</a>



<h1>Persons</h1>
<table class="table w-100 mt">
    <thead>
        <tr>
            @{
                await Html.RenderPartialAsync("_ColumnHeader", new ViewDataDictionary(ViewData) { { "ColumnName", "Name" }, { "DisplayName", "Person Name" } });
            }
            @{
                await Html.RenderPartialAsync("_ColumnHeader", new ViewDataDictionary(ViewData) { { "ColumnName", "Email" }, { "DisplayName", "Email" } });
            }
            @{
                await Html.RenderPartialAsync("_ColumnHeader", new ViewDataDictionary(ViewData) { { "ColumnName", "DateOfBirth" }, { "DisplayName", "Date Of Birth" } });
            }
            @{
                await Html.RenderPartialAsync("_ColumnHeader", new ViewDataDictionary(ViewData) { { "ColumnName", "Age" }, { "DisplayName", "Age" } });
            }
            @{
                await Html.RenderPartialAsync("_ColumnHeader", new ViewDataDictionary(ViewData) { { "ColumnName", "Gender" }, { "DisplayName", "Gender" } });
            }
            @{
                await Html.RenderPartialAsync("_ColumnHeader", new ViewDataDictionary(ViewData) { { "ColumnName", "Country" }, { "DisplayName", "Country" } });
            }
            @{
                await Html.RenderPartialAsync("_ColumnHeader", new ViewDataDictionary(ViewData) { { "ColumnName", "Address" }, { "DisplayName", "Address" } });
            }
            @{
                await Html.RenderPartialAsync("_ColumnHeader", new ViewDataDictionary(ViewData) { { "ColumnName", "ReceiveNewsLetters" }, { "DisplayName", "Receive News Letters" } });
            }
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
        @foreach (PersonResponse person in Model)
        {
            <tr>
                <td>@person.Name</td>
                <td>@person.Email</td>
                <td>@person.DateOfBirth?.ToShortDateString()</td>
                <td>@person.Age</td>
                <td>@person.Gender</td>
                <td>@person.CountryName</td>
                <td>@person.Address</td>
                <td>@person.ReceiveNewsLetter</td>
                <td>
                    <a asp-action="Update" asp-controller="Home" asp-route-id="@person.Id">Edit</a>
                    <a asp-action="Delete" asp-controller="Home" asp-route-id="@person.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>